*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
hr {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: unset;
  color: inherit;
  appearance: none;
}

button,
input,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  appearance: none;
  font-family: inherit;
}

button {
  cursor: pointer;
  color: inherit;

  & * {
    pointer-events: none;
  }
}