.header {
    padding: 12px 32px 0;
    border-bottom: 1px solid #000000;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link {
    padding: 12px;
}

.nav__link span:hover {
    border-bottom: 1px solid #000000;
}