.header {
  padding: 12px 32px 0;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: center;

  @media(max-width: 768px) {
    justify-content: unset;
    padding: 12px 8px 0;
  }

  h2 {
    font-size: 16px;
    padding: 12px;
  }
}